header {
  height: 100vh;
}

#carouselExampleFade {
  position: absolute;
  height: 100vh;
}
#carouselExampleFade img {
  height: 100vh;
}

/* NAVBAR */
nav a {
  list-style: none;
  color: black;
  position: relative;
  max-width: max-content;
}

a.nav-link {
  padding: 0 !important;
}

nav a:hover {
  color: #00b3fa !important;
  transition: 0.3s;
}

nav a:link {
  transition: 0.5s;
}

#navbarSupportedContent a::before {
  content: "";
  background-color: #00b3fa;
  height: 3px;
  position: absolute;
  bottom: -1px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

#navbarSupportedContent a:hover::before {
  width: 105%;
}

#aHome {
  font-size: 200%;
  padding: 0;
  margin: 0;
}

#aHome :hover {
  color: #00b3fa;
  transition: 0.3s;
}

#aHome :link {
  transition: 0.5s;
}

nav {
  width: 100%;
  z-index: 5;
  transition: 2s ease;
  padding: 0;
}

.nav-item {
  margin: 0 15%;
}

#nav {
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  transition: 1.4s;
  background-color: #9182dd;
}

#divHello {
  position: absolute;
  z-index: 3;
  padding-top: 16%;
  width: 100%;
}

#divHello h1 {
  max-width: max-content;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.08em;
  animation: typing 6s steps(60, end), blink-caret 0.8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.monBoutton {
  display: block;
  padding: 10px 15px;
  z-index: 300;
  background-color: #9182dd;
  border: 2px solid #9182dd;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.monBoutton:hover {
  transition: 0.4s ease;
  background-color: #00b3fa;
  border: 2px solid #00b3fa;
}

.non {
  visibility: hidden;
}

.oui {
  visibility: visible;
}

/* NAVBAR */ 
@media (max-width: 992px) {
  #divHello h1 {
    padding-top: 15%;
    font-size: 180%;
  }
}
@media (max-width: 650px) {
  #divHello h1 {
    padding-top: 35%;
    font-size: 120%;
  }
}
#sec-about h2 {
  color: #8c7ae6;
}

.basic-info {
  color: #8c7ae6;
}

.spans {
  cursor: pointer;
  position: relative;
  transition: 0.4s;
  bottom: 0;
}
.spans:hover {
  bottom: 5px;
  padding-bottom: 5px;
}

.latest-work {
  color: #8c7ae6;
}

#active {
  color: #8c7ae6;
}

.parent {
  overflow: hidden;
  padding: 0;
  margin: 0 0.6%;
}
.parent img {
  transition: ease 1s;
  filter: grayscale(100%);
  cursor: pointer;
}
.parent:hover img {
  transform: scale(1.2);
  filter: grayscale(0);
}

#h1Pricing {
  color: #8c7ae6;
}

.div-pricing {
  justify-content: center;
  margin-top: 5%;
}
.div-pricing #h3 {
  color: #8c7ae6;
}
.div-pricing p {
  font-size: 80%;
}
.div-pricing button {
  background-color: #8c7ae6;
  border: #8c7ae6 1px solid;
  border-radius: 20px;
  color: white;
  padding: 3% 8%;
}
.div-pricing button:hover {
  background-color: #00b3fa;
  border: 1px solid #00b3fa;
  transition: ease 0.3s;
}

.div-price {
  box-shadow: 5px 5px 20px 5px #888888;
}

.div-blog h1 {
  color: #9182dd;
}
.div-blog p {
  color: #8c7ae6;
}
.div-blog button {
  background-color: #8c7ae6;
  border: #8c7ae6 1px solid;
  border-radius: 20px;
  color: white;
  padding: 1% 3%;
}
.div-blog button:hover {
  background-color: #00b3fa;
  border: 1px solid #00b3fa;
  transition: 0.4s ease;
}
.div-blog img {
  width: 40%;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.div-blog img:hover {
  opacity: 0.8;
}

#mesBlog {
  justify-content: center;
}

#div1 {
  margin-left: 10%;
}

#div2 {
  margin-right: 10%;
}

@media (max-width: 995px) {
  .img-blog {
    display: none;
  }

  #div1 {
    margin: 0;
  }

  #div2 {
    margin: 0;
  }
}
.div1Contact {
  background-color: #9182dd;
}

.div2Contact .mon-gars {
  color: #8c7ae6;
}
.div2Contact button {
  background-color: #8c7ae6;
  border: #8c7ae6 1px solid;
  border-radius: 20px;
  color: white;
  padding: 2% 5%;
}
.div2Contact button:hover {
  background-color: #00b3fa;
  border: 1px solid #00b3fa;
  transition: 0.4s ease;
}

footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .a1 {
  color: white;
  padding: 2%;
}
footer .a1:hover {
  color: #005eaa;
  transition: 0.4s;
}
footer .a2 {
  color: white;
  padding: 2%;
}
footer .a2:hover {
  color: #d400ff;
  transition: 0.4s;
}
footer .a3 {
  color: white;
  padding: 2%;
}
footer .a3:hover {
  color: #08b9ff;
  transition: 0.4s;
}
footer .a4 {
  color: white;
  padding: 2%;
}
footer .a4:hover {
  color: red;
  transition: 0.4s;
}
footer .h6 {
  padding-top: 2%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
